@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&family=Righteous&display=swap');

/* General Styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

.inline {
    display: inline;
}

.text-centre {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

h1,
h2,
h3 {
    font-family: 'Righteous', sans-serif;
}

p,
button {
    font-family: 'Raleway', sans-serif;
}

.btn-game-main {
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    box-shadow: 1px -1px 2px 1px rgba(0, 0, 0, 0.15);
}

/* Background */

#background-div {
    background: linear-gradient(180deg, #AAE2FF 0.01%, #FBFBFB 100%);

    max-width: 1300px;
    margin: 0 auto;
    position: absoloute;
}

/* Logo */

#logo-div {
    display: flex;
    justify-content: center;
}

#logo-div img {
    width: 220px;
    margin-top: 50px;
}

/* Footer */

#test-div {
    background-color: aquamarine;
    height: 500px;
    width: 100%;
}


#cloud-div {
    height: 350px;
    background-image: url("../images/clouds_lrg.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
    bottom: 0px;
    width: 100%;
    max-width: 1300px;
}


#footer-text {
    position: absolute;
    bottom: 20px;
    width: 100%;

}

#footer-text p a {
    text-decoration: none;
    color: black;
    padding-left: 5px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#footer-text p a:hover {
    color: #FC7070;
}




/* Welcome Page */

#welcome-div {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 60px;
}

#welcome-div h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

#start-button-div {
    margin: 60px 0;
}

#start-game-btn {
    font-weight: 500;
    background-color: #FC7070;
    color: white;

}




/* Game */

#progress-div {
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    position: relative;
    padding-bottom: 50px;
}

#progress-text {
    margin-bottom: 15px;
    text-align: left;
}

.progressbar {
    width: 100%;
    height: 15px;
    border-radius: 20px;
    position: absolute;
}

#progressbar-bg {
    background-color: #F7F0F0;
}

#progressbar-fg {
    background-color: #FCADAD;
    z-index: 2;
    width: 10%;
}

#question-text {
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 40px;
    padding: 0 25px;
}

#answer-div {
    width: 70%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.btn-choice {
    background-color: #4D93BB;
    color: white;
    font-weight: 500;
    width: 48%;
    height: 90px;
    padding: 18px 20px;
    border: none;
    box-shadow: 2px -2px 4px 2px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s ease-in-out;
    -moz-transition: background-color 0.25s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out;
    -o-transition: background-color 0.25s ease-in-out;
}

.btn-choice:hover {
    background-color: #407694;
}

#restart-button-div,
#start-again-button-div {
    margin-top: 60px;
}

#restart-game-btn,
#start-again-btn {
    font-weight: 400;
    background-color: #FCADAD;
}



/* Results Page */

#personality-div,
#country-map-div {
    background-color: white;
}

#country-info-div {
    background-color: #AEE2FF;
}

#country-highlights-div {
    background-color: #407694;
}

.results-container {
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
}

#personality-div,
#country-highlights-div,
#country-info-div {
    margin-left: 100px;
    margin-right: 100px;
}

#personality-div,
#country-info-div {
    margin-top: 60px;
}

#personality-div {
    padding: 40px;
}

#country-info-div,
#country-highlights-div {
    padding: 50px 40px;
}

#personality-div,
#country-map-div {
    border-radius: 24px;
}

#personality-heading {
    font-size: 36px;
}

#personality-text-div {
    width: 50%;
    margin-top: 40px;
}

#country-info-div {
    border-radius: 24px 24px 0 0;
}

#recommend-title-div {
    width: max-content;
    margin: 0 auto;
}

#country-heading {
    font-size: 20px;
}

#country-heading-place {
    font-family: 'Righteous', sans-serif;
    font-size: 64px;
    line-height: 70px;
}

#results-image {
    width: 100%;
    margin: 40px 0;
    border-radius: 24px;
}

#country-highlights-div {
    border-radius: 0 0 24px 24px;
}

#country-highlights-div>h2,
#country-highlights-div>p {
    color: white;
}

#country-highlights-div>h2 {
    font-size: 36px;
}

#country-highlights-div>p {
    margin-top: 8px;
}

#country-map-div {
    margin: 0 auto;
    margin-top: 40px;
}

#map {
    background-color: #FC7070;
    height: 450px;
    border: 3px solid #FFFFFF;
    box-shadow: inset 2px -2px 12px 5px rgba(0, 0, 0, 0.2);
    border-radius: 24px;
}

#highlight-content-div {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

#highlight-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
}

#highlight-photo-div {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    border-radius: 0 0 24px 24px;
}

.highlight-photo {
    width: 25%;
    height: auto;
}

#highlight-photo-1 {
    border-radius: 0 0 0 24px;
}

#highlight-photo-4 {
    border-radius: 0 0 24px 0;
}

#start-again-button-div p {
    margin-bottom: 20px;
    font-weight: 600;
}










/* Media Queries */

@media (max-width: 992px) {
    #answer-div {
        width: 80%;
    }

    #personality-div,
    #country-highlights-div,
    #country-info-div {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width: 768px) {
    .highlight-photo {
        width: 50%;
    }

    #highlight-photo-1 {
        border-radius: 0;
    }
    
    #highlight-photo-3 {
        border-radius: 0 0 0 24px;
    }

    #personality-div,
    #country-highlights-div,
    #country-info-div {
        margin-left: 40px;
        margin-right: 40px;
    }
}


@media (max-width: 576px) {
    #cloud-div {
        height: 320px;
        bottom: 20px;
        background-image: url("../images/clouds_sml.png");
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #answer-div {
        width: 85%;
    }

    .btn-choice {
        width: 100%;
        height: initial;
    }

    #personality-div,
    #country-highlights-div,
    #country-info-div {
        margin-left: 20px;
        margin-right: 20px;
    }

    #highlight-content-div {
        padding-left: 20px;
        padding-right: 20px;
    }

    #personality-div {
        padding: 20px;
    }

    #country-info-div,
    #country-highlights-div {
        padding: 30px 20px;
    }

    #results-image {
        margin: 30px 0;
    }

    #personality-heading,
    #country-highlights-div>h2 {
        font-size: 24px;
    }

    #country-heading {
        font-size: 14px;
    }
    
    #country-heading-place {
        font-size: 36px;
        line-height: 36px;
    }

    #start-again-button-div {
        margin-bottom: 20px;
    }

}

/* DOM Manipulation Classes */

.selected {
    background-color: cyan;
}

.hidden {
    display: none;
}